.error-body {
  padding: 10%;
}

.error-body h1 {
  font-size: 210px;
  font-weight: 900;
  line-height: 210px;
}

.cancel-btn {
  margin-top: 3px;
}

.inline li {
  list-style: none;
  background-image: none;
  background-repeat: none;
  background-position: 0;
}
.list-inline-item {
  margin-bottom: 1rem;
}
.tab {
margin-left: 1em
}
.double-tab {
margin-left: 2.5em
}
.spell-table {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}
.spell-table th{
  text-align: center;
  padding: 16px;
}
.spell-table td {
  text-align: center;
  padding: 16px;

}

.spell-table tr:nth-child(even) {
  background-color: #f2f2f2;
}




.spell-table tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
  height: 10px;
}

.spell-table tr.header,
tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}






