{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'macros/stats.html' import stats_div %}
{% from 'macros/spell_navigation.html' import spell_navigation %}

{% block app_content %}

{{ CED_buttons('char')}}
<div class="row page-head">
  <div class="col-md-5">
    <h1>{{ char.name }}</h1>
    <h3>A level {{ char.level }} {{ char.race }} {{ char._class.name }}</h3>
  </div>
  <div class="col-md-3">
    {{spell_navigation(1)}}
  </div>
  <div class="col-md-4">
    <br />
    {{ wtf.quick_form(form) }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    {% if stats %}
    {{ stats_div(char, stats) }}
    {% else %}
    <a href="{{url_for('create_stats')}}" class="btn btn-default">Create stats for your character here!</a>
    {% endif %}
  </div>

  <div class="stats col-md-6">
    <h3>Actions</h3>
    Actions go here!
  </div>
</div>



<div class="container" style="padding-bottom:2em">
  <div class="row">
    <div class="col-xs-6">
      <h3>Spell Casting</h3>
    </div>
    <div class="col-xs-3">
      {{ wtf.quick_form(resetSlotsForm)}}

    </div>

  </div>
  <div class="row">
    {% for lvl, spells in lvls.items() %}
    {% if spells|length > 0 or (lvl == 0 and spells|length > 0) %}
    <div class="col-md-2 col-xs-4">
      <h3 id="btn-{{lvl}}" class="but btn btn-default" onclick="collapse_table('{{lvl}}')">
        {% if lvl == 0 %}Cantrips{% else %}Level {{lvl}}
        spells{% endif %}</h3>
      {% if lvl > 0 %}
      <div style="display:flex;" class="align-items-baseline">
        <button class="btn btn-default" type="button" onclick="decrementValue('lvl_{{lvl}}')">-</button>
        <input name="lvl_{{lvl}}" id="lvl_{{lvl}}" style="width:50px; text-align:center;" class="form-control"
          value="{{slots[lvl-1]}}" />
        <button class="btn btn-default" type="button" onclick="incrementValue('lvl_{{lvl}}')">+</button>
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <hr>
  {% for lvl, spells in lvls.items() %}
  {% if spells|length > 0 %}
  <table style="display:none" class="spell-table" id="spell-table-{{lvl}}">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Level</th>
        <th>Concentration</th>
        <th>Cast Time</th>
        <th>Range</th>
        <th>Duration</th>
        <th>School</th>
      </tr>
    </thead>
    <tbody>
      {% for spell in spells %}
      <tr href="{{ url_for('view_spell', id=spell.id) }}">
        <td>
          <button class="btn btn-primary" type="button" onclick="decrementValue('lvl_{{lvl}}')">Cast!</button>
        </td>
        <td><a href="{{url_for('view_spell', id=spell.id)}}" target="_blank">{{spell.name}}</a></td>
        <td>{{spell.level}}</td>
        <td>{{spell.concentration}}</td>
        <td>{{spell.cast_time}}</td>
        <td>{{spell.spell_range}}</td>
        <td>{{spell.duration}}</td>
        <td>{{spell.school}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% endfor %}
</div>

</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
  $("th").click(function () {
    var table = $(this).parents("table").eq(0);
    var rows = table
      .find("tr:gt(0)")
      .toArray()
      .sort(comparer($(this).index()));
    this.asc = !this.asc;
    if (!this.asc) {
      rows = rows.reverse();
    }
    for (var i = 0; i < rows.length; i++) {
      table.append(rows[i]);
    }
  });
  function comparer(index) {
    return function (a, b) {
      var valA = getCellValue(a, index),
        valB = getCellValue(b, index);
      return $.isNumeric(valA) && $.isNumeric(valB)
        ? valA - valB
        : valA.toString().localeCompare(valB);
    };
  }
  function getCellValue(row, index) {
    return $(row).children("td").eq(index).text();
  }
  function toggle_button(btn) {
    console.log("toggling button");
    if (btn.classList.contains("btn-primary")) {
      btn.classList.remove("btn-primary");
      btn.classList.add("btn-info");
    } else {
      btn.classList.remove("btn-info");
      btn.classList.add("btn-primary");
    }
  }

  function collapse_table(id) {
    var table = document.getElementById('spell-table-' + id);
    var but = document.getElementById("btn-" + id)

    var toggle = (table.style.display == '' ? 'none' : '');
    var but_toggle = (but.classList.contains('btn-info') ? 'btn-default' : 'btn-info');
    var tables = document.getElementsByClassName('spell-table');
    var buts = document.getElementsByClassName('but');
    for (var i = 0; i < tables.length; i++) {
      tables[i].style.display = 'none';
    }
    for (var i = 0; i < buts.length; i++) {
      buts[i].classList.remove('btn-info')
      buts[i].classList.add('btn-default')
    }
    table.style.display = toggle;
    but.classList.add(but_toggle)
  }

  function incrementValue(id) {
    var value = parseInt(document.getElementById(id).value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    document.getElementById(id).value = value;
    changeSlot(id, value);
  }
  function decrementValue(id) {
    if (id != 'lvl_0') {
      var value = parseInt(document.getElementById(id).value, 10);
      value = isNaN(value) ? 0 : value;
      if (value != 0) {
        value--;
        document.getElementById(id).value = value;
        changeSlot(id, value);
      }
    }
  }
  function changeSlot(lvl, res) {
    data = { slot_lvl: lvl, slot_res: res };
    $.post({
      url: "{{ url_for('change_slot_val') }}",
      data: JSON.stringify(data, null, "\t"),
      contentType: "application/json;charset=UTF-8",
      success: function (result) {
        console.log(result);
      },
    });
  }

</script>

{% endblock %}