{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
app_content %}
{% from 'macros/spell_navigation.html' import spell_navigation %}

<style>
    .show_prep {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        padding: 10px;
        background-color: #fff;
        position: sticky;
        top: 0;
        z-index: 10;
        margin-left: calc(50% - 50vw);
        width: 100vw;
        border-top: 2px solid lightgrey;
        border-bottom: 2px solid lightgrey;
    }

    .total_prep {
        text-align: left;
        padding-left: 10px;
        padding-right: 2em;
    }

    .lvl_prep {
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    }
</style>

<div class="container">
    <div class="row" style="padding-bottom: 2em;">
        <div class="col-md-4">
            <h2>Preparing spells for <strong>{{char.name}}</strong></h2>
            <div class="form-group">
                <form onsubmit="return confirm('Are you sure you want to do this?')"
                    action="{{url_for('prepare_spells')}}" method="post" class="form" role="form">
                    {{ form.csrf_token() }}
                    {{ wtf.form_field(form.submit, class='form-control btn-warning', 
                   placeholder=form.submit.placeholder) }}
                </form>
            </div>
        </div>
        <div class="col-md-8">
            {{spell_navigation(0, 0)}}
        </div>
    </div>
</div>
<div class="row show_prep">
    <span class="total_prep" id="prep_count">You have {{total}} total spells prepared</span>

    {% for lvl, spells in lvls.items() %}
    {% if lvl > 0 and spells|length > 0 %}
    <span id="lvl_prep-{{lvl}}" {% if p_lvls[lvl]|length == 0 %} style="display:none" {% endif %}
        class="lvl_prep"><strong>Level {{lvl}}:
        </strong> <span id="prep-{{lvl}}">{{p_lvls[lvl]|length}}</span></span>
    {% endif %}
    {% endfor %}
</div>
<div class="row">
    {% for lvl, spells in lvls.items() %}
    {% if spells|length > 0 and lvl > 0 %}
    <div class="col-md-2 col-xs-3" style="margin:1em">
        <h3 id="btn-{{lvl}}" class="but btn btn-default" onclick="collapse_table('{{lvl}}')">Level {{lvl}} spells</h3>
    </div>
    {% endif %}
    {% endfor %}
</div>
<hr>

<div class="container" style="padding-bottom:2em">
    {% for lvl, spells in lvls.items() %}
    {% if spells|length > 0 %}
    <table style="display:none" class="spell-table" id="spell-table-{{lvl}}">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Level</th>
                <th>Concentration</th>
                <th>Cast Time</th>
                <th>Range</th>
                <th>Duration</th>
                <th>School</th>
            </tr>
        </thead>
        <tbody>
            {% for spell in spells %}
            <tr href="{{ url_for('view_spell', id=spell.id) }}">
                <td>
                    <button id="{{spell.id}}" onclick="prepareSpell('{{spell.id}}', '{{lvl}}')" {%
                if
                spell.id
                in
                prep_spells
                %} class="btn btn-success">Prepared{% else %} class="btn btn-default">unprepared{% endif %}</button>
                </td>
                <td>
                    <a href="{{url_for('view_spell', id=spell.id)}}" target="_blank">{{spell.name}}</a>
                </td>
                <td>{{spell.level}}</td>
                <td>{{spell.concentration}}</td>
                <td>{{spell.cast_time}}</td>
                <td>{{spell.spell_range}}</td>
                <td>{{spell.duration}}</td>
                <td>{{spell.school}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endfor %}
</div>

<script>
    function searchFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("spell-table-id");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $("th").click(function () {
        var table = $(this).parents("table").eq(0);
        var rows = table
            .find("tr:gt(0)")
            .toArray()
            .sort(comparer($(this).index()));
        this.asc = !this.asc;
        if (!this.asc) {
            rows = rows.reverse();
        }
        for (var i = 0; i < rows.length; i++) {
            table.append(rows[i]);
        }
    });
    function comparer(index) {
        return function (a, b) {
            var valA = getCellValue(a, index),
                valB = getCellValue(b, index);
            return $.isNumeric(valA) && $.isNumeric(valB)
                ? valA - valB
                : valA.toString().localeCompare(valB);
        };
    }
    function getCellValue(row, index) {
        return $(row).children("td").eq(index).text();
    }

    function updatePrepCount(result) {
        el = document.getElementById('prep_count');
        el.innerHTML = "You have " + result + " spells prepared";
    }

    function updateLvlTotal(lvl, dec) {
        el = document.getElementById('prep-' + lvl);
        total = Number(el.innerHTML)
        console.log(total);
        if (dec) {
            total -= 1;
        }
        else {
            total += 1;
        }
        el.innerHTML = total;
        s = document.getElementById('lvl_prep-' + lvl);
        if (total > 0) {
            s.style.display = "";
        } else {
            s.style.display = "none";
        }
    }

    function prepareSpell(spell_id, lvl) {
        data = { spell_id: spell_id };
        $.ajax({
            type: "POST",
            url: "{{ url_for('prepare_spell') }}",
            data: JSON.stringify(data, null, "\t"),
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                updatePrepCount(result);
            },
        });
        var btn = document.getElementById(spell_id);
        if (btn.innerHTML == "Prepare") {
            btn.innerHTML = "Unprepare";
            btn.classList = "btn btn-success";
            updateLvlTotal(lvl, false)

        } else {
            btn.innerHTML = "Prepare";
            btn.classList = "btn btn-primary";
            updateLvlTotal(lvl, true)

        }
    }

    function collapse_table(id) {
        var table = document.getElementById('spell-table-' + id);
        var but = document.getElementById("btn-" + id)

        var toggle = (table.style.display == '' ? 'none' : '');
        var but_toggle = (but.classList.contains('btn-info') ? 'btn-default' : 'btn-info');
        var tables = document.getElementsByClassName('spell-table');
        var buts = document.getElementsByClassName('but');
        for (var i = 0; i < tables.length; i++) {
            tables[i].style.display = 'none';
        }
        for (var i = 0; i < buts.length; i++) {
            buts[i].classList.remove('btn-info')
            buts[i].classList.add('btn-default')
        }
        table.style.display = toggle;
        but.classList.add(but_toggle)
    }

    // When the user scrolls the page, execute myFunction
    window.onscroll = function () { stick_header() };

    // Get the header
    var header = document.getElementById("prep_count");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function stick_header() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    } 
</script>

{% endblock %}
</div>