{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
    app_content %}
    
    <div class="container">
        
  <div class="row" style="padding-bottom: 2em;">
    <div class="col-md-4">
        <h2>Preparing spells for <strong>{{char.name}}</strong></h2>
    </div>
    <div class="col-md-8">
      <div class="opts">
        <a class="opt btn btn-block btn-default" href="{{url_for('learn_spells') }}">Learn spells</a>
      </div>
      <div class="opts">
        <a class="opt btn btn-block btn-default" href="{{url_for('view_all_spells')}}">Take a better look at spells</a>
      </div>
      <div class="opts">
        <a class="opt btn btn-block btn-default" href="{{url_for('view_char') }}">Change character</a>
      </div>
    
    </div>
    
        {% for lvl, spells in lvls.items() %}
        {% if spells|length > 0 %}
      <div class="row" style="padding-bottom: 1em;">
      <h3 class="btn btn-default" onclick="collapse_table('{{lvl}}')">Level {{lvl}} spells</h3>
<table style="display:none" class="spell-table" id="{{lvl}}">
        <thead>
          <tr>
            <th>Known</th>
            <th>Name</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>
          {% for spell in spells %}
          <tr href="{{ url_for('view_spell', id=spell.id) }}">
            <td><button id="{{spell.id}}" onclick="prepareSpell('{{spell.id}}')" {% if spell.id in prep_spells %} class="btn btn-success" >Unprepare{% else %} class="btn btn-primary" >Prepare{% endif %}</button></td>
            <td><a href="{{url_for('view_spell', id=spell.id)}}" target="_blank">{{spell.name}}</a></td>
            <td>{{spell.level}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% endfor %}
    </div>
      <script>
        function searchFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("searchInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("spell-table-id");
          tr = table.getElementsByTagName("tr");
    
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script>
        $("th").click(function () {
          var table = $(this).parents("table").eq(0);
          var rows = table
            .find("tr:gt(0)")
            .toArray()
            .sort(comparer($(this).index()));
          this.asc = !this.asc;
          if (!this.asc) {
            rows = rows.reverse();
          }
          for (var i = 0; i < rows.length; i++) {
            table.append(rows[i]);
          }
        });
        function comparer(index) {
          return function (a, b) {
            var valA = getCellValue(a, index),
              valB = getCellValue(b, index);
            return $.isNumeric(valA) && $.isNumeric(valB)
              ? valA - valB
              : valA.toString().localeCompare(valB);
          };
        }
        function getCellValue(row, index) {
          return $(row).children("td").eq(index).text();
        }
    
    
    
    
    
        function prepareSpell(spell_id) {
          data = {spell_id:spell_id}
          $.ajax({
          type : "POST",
          url : "{{ url_for('prepare_spell') }}",
          data: JSON.stringify(data, null, '\t'),
          contentType: 'application/json;charset=UTF-8',
          success: function(result) {
              console.log(result);
          }
          });
          var btn = document.getElementById(spell_id);
          if(btn.innerHTML == 'Prepare') {
            btn.innerHTML = 'Unpreprare'
            btn.classList = 'btn btn-success'
          } else {
            btn.innerHTML = 'Prepare'
            btn.classList = 'btn btn-primary'
          }
        }
    
    function collapse_table(table_id){
        var table = document.getElementById(table_id);
        if(table.style.display == 'none'){
            table.style.display = 'contents'
        } else {
            table.style.display = 'none';
        }
    }
      </script>
    
      {% endblock %}
    </div>
    