{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
app_content %}
<style>
  .spell-info {
    margin-left:1em;
    margin-top: 2em;
    padding-bottom: 3em;
  }
  .spell-info h4 {
    margin-top: 1em;
  }
</style>
{{CED_id('spell', id=spell.id)}}
<div class="page-head row">
  <div class="col-md-8">
    <h1>{{ spell.name }}</h1>
    <p class="tab">A 
      {% for sp in spell.classes %}
        {{sp._class.name}}
      {% endfor %}
      spell
    </p>
  </div>
  <div class="col-md-4">
    {{ wtf.quick_form(form) }}
  </div>
</div>

<div class="row">
  <ul>
    <li><strong>Level: </strong>{{ spell.level }}</li>
    <li><strong>Concentration: </strong>{{ spell.concentration }}</li>
    <li><strong>Range: </strong>{{ spell.spell_range }}</li>
    <li><strong>Components: </strong>{{ spell.components }}</li>
    <li><strong>Cast Time: </strong>{{ spell.cast_time }}</li>
    <li><strong>Duration: </strong>{{ spell.duration }}</li>
    <li><strong>School: </strong>{{ spell.school }}</li>
    <li><strong>Book: </strong>{{ spell.from_book }}</li>
  </ul>
</div>
<div class="row spell-info">
  {{spell.info | safe}} {% if spell.scaling != ' ' %}
  <h4><strong>At Higher Levels</strong></h4>
  {{spell.scaling | safe }} {% endif %}
</div>

{% endblock %}
